header {
    height: 80px;
    width: 100vw;
    background-color: white;
}

.my-name {
    text-align: center;
    font-size: 1.2em;
    height: 25px;
    width: 300px;
    margin: auto;
    padding-top: 25px;
    font-family: 'Lato', sans-serif;
}

.pulldown-icon {
    height: 30px;
    width: 30px;
    float: right;
    margin-right: 20px;
}

.panel1 {
    width: 100vw;
    height: 500px;
    background-color: #3a506B;
    border-style: solid;
    border-color: #3a506B;
}

#projectspanel1 {
    height: 100px;
    margin-bottom: 20px;
    background-color: #1C2541;
    border-style: none;
}

#aboutpanel1 {
    height: 100px;
    background-color: #1C2541;
    border-style: none;
}

.panel1half {
    width: 100vw;
    height: 500px;
    background-color: #3A506B;
}

#runner {
    height: 300px;
    width: 300px;
    margin: 100px auto auto auto;
    display: block;
    opacity: 1;
}

.pulldown-menu{
    display: none;/*means basically remove this from page, make it hidden*/
    background-color: #5BC0BE;
    position: absolute;
    top: 87px;
    right: 0px;
    width: 240px;
    height: 240px;
}

.pulldown-menu li{
    display: block; /*So li stack on top of each other vertically*/
    color: white;
    opacity: none;
    font-weight: 300;
    text-align: center;
    width: 180px;
    height: 30px;
    padding-top: 15px;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
}

li a {
    color: white;
    opacity: none;
    text-decoration: none;
}

.pulldown-icon:hover .pulldown-menu{
    display: block;
}

.pulldown-menu li:hover {
    opacity: 0.5;
}

.panel2 {
    width: 100vw;
    height: 1000px;
    background-color:white;
}
#projectspanel2 {
    height: 1500px;
}


#intro-statement {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    height: 250px;
    width: 550px;
    margin: auto;
    padding-top: 25px;
    text-align: center;
    text-decoration: none;
}

.two-projects {
    width: 1000px;
    height: 450px;
    margin: auto;
}

.panel2 .three-projects {
    width: 1000px;
    height: 1500px;
    margin: auto;

}

.project {
    width: 450px;
    height: 600px;
    float: left;
    margin: 10px 15px 10px 15px;
}

.project .img {
    margin: 0px 0px 0px 0px;
    height: 450px;
    width: 450px;
    background-size: cover;
    background-position: center;
}
.project #img1{
    background-image: url("helpinghand.jpg");
}
.project #img2{
    background-image: url("proj2.png");
    background-repeat: no-repeat;
}
.project #img3{
    background-image: url("sipline.jpg");
    background-repeat: no-repeat;
    transform: rotate(90deg);
}

.project-name {
    text-align: inline;
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 10px;
    margin-right: 10px;
    text-decoration: none;
    float: left;
    font-family: 'Lato', sans-serif;
}

a:hover {
    opacity: 0.5;
}

.project-description {
    font-size: 0.9em;
    line-height: 22px;
    font-family: 'Lato', sans-serif;
    text-align: inline;
    margin-top: 10px;
}

#icon-holder {
    height: 180px;
    width: 100vw;
    background-color: #5BC0BE;
    text-align: center;
}

img:hover{
    opacity: 0.5;
}

#me-info {
    height: 250px;
    width: 500px;
    text-align: center;
    margin: auto;
    padding: 50px 10px 0px 10px;
    margin-top: 40px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1.6em;
}

.icon {
    height: 140px;
    width: 140px;
    margin: 20px 10px;
    display: inline-block;
}

#contact {
    text-align: center;
    margin: auto;
    margin-top: 10px;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
    color: #1C2541;
}

#atlasimg {
    background-image: url("atlas-img.jpg");
}














